/* Set height of body to full height of viewport */
body {
  height: 100vh;
}

.nav a {
  color: #ffffff;
  text-decoration: none;

}

/* Style the vertical navigation */
.nav {
  width: 16rem;
  background-color: #1a202c;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.nav img {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto;
}

.nav h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
  text-align: center;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.nav li:hover {
  background-color: #2d3748;
}

/* Style the main content */
.main {
  padding: 1rem;
  margin-left: 16rem;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/*
.section {
  margin-bottom: 2rem;
}

.section-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-subheader {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.section-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.section-subtext {
  font-size: 1.2rem;
  line-height: 1.5;
  font-style: italic;
}

.section-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-item {
  margin-bottom: 0.5rem;
}

Add Tailwind CSS utility classes as needed */

/* Styling for research projects section */
.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #E2E8F0;
}

.section-header {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.section-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-item {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-subheader {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.section-subtext {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.section-text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

/* Set height of body to full height of viewport */
body {
  height: 100vh;
}

/* Style the vertical navigation */
.nav {
  width: 16rem;
  background-color: #1a202c;
  color: #fff;
  padding: 1rem;
}

.nav img {
  width: 4rem;
  height: 4rem;
}

.nav h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-bottom: 0.1rem;
}

.nav li:hover {
  background-color: #2d3748;
}

/* Style the main content */
.main {
  padding: 4rem;
}
